.FooterDistributed {
  background-color: #292c2f;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
  box-sizing: border-box;
  width: 100%;
  text-align: left;
  font: bold 16px sans-serif;

  padding: 15px 10px;
  margin-top: 10px;
  position: fixed;
  bottom: 0;
}

.FooterDistributed .FooterLeft,
.FooterDistributed .FooterCenter,
.FooterDistributed .FooterRight {
  display: inline-block;
  vertical-align: top;
}

/*.Footer left */

.FooterDistributed .FooterLeft {
  width: 40%;
}

/* The company logo */

.FooterDistributed h3 {
  color: #ffffff;
  font: normal 36px 'Cookie', cursive;
  margin: 0;
}

.FooterDistributed h3 span {
  color: #5383d3;
}

/*.Footer links */

.FooterDistributed .Footer-links {
  color: #ffffff;
  margin: 20px 0 12px;
  padding: 0;
}

.FooterDistributed .FooterLinks a {
  display: inline-block;
  line-height: 1.8;
  text-decoration: none;
  color: inherit;
}

.FooterDistributed .FooterCompanyName {
  color: #8f9296;
  font-size: 14px;
  font-weight: normal;
  margin: 0;
}

/*.Footer Center */

.FooterDistributed .FooterCenter {
  width: 35%;
}

.FooterDistributed .FooterCenter i {
  background-color: #33383b;
  color: #ffffff;
  font-size: 25px;
  width: 38px;
  height: 38px;
  border-radius: 50%;
  text-align: center;
  line-height: 42px;
  margin: 10px 15px;
  vertical-align: middle;
}

.FooterDistributed .FooterCenter i.fa-envelope {
  font-size: 17px;
  line-height: 38px;
}

.FooterDistributed .FooterCenter p {
  display: inline-block;
  color: #ffffff;
  vertical-align: middle;
  margin: 0;
}

.FooterDistributed .FooterCenter p span {
  display: block;
  font-weight: normal;
  font-size: 14px;
  line-height: 2;
}

.FooterDistributed .FooterCenter p a {
  color: #5383d3;
  text-decoration: none;
}

/*.Footer Right */

.FooterDistributed .FooterRight {
  width: 20%;
}

.FooterDistributed .FooterCompanyAbout {
  line-height: 20px;
  color: #92999f;
  font-size: 13px;
  font-weight: normal;
  margin: 0;
}

.FooterDistributed .FooterCompanyAbout span {
  display: block;
  color: #ffffff;
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 20px;
}

.FooterDistributed .FooterIcons {
  margin-top: 25px;
}

.FooterDistributed .FooterIcons a {
  display: inline-block;
  width: 35px;
  height: 35px;
  cursor: pointer;
  background-color: #33383b;
  border-radius: 2px;

  font-size: 20px;
  color: #ffffff;
  text-align: center;
  line-height: 35px;

  margin-right: 3px;
  margin-bottom: 5px;
}

/* If you don't want the.Footer to be responsive, remove these media queries */

@media (max-width: 880px) {
  .FooterDistributed {
    font: bold 14px sans-serif;
  }

  .FooterDistributed .FooterLeft,
  .FooterDistributed .FooterCenter,
  .FooterDistributed .FooterRight {
    display: block;
    width: 100%;
    margin-bottom: 10px;
    text-align: center;
    display: none;
  }

  .FooterDistributed .FooterCenter i {
    margin-left: 0;
  }
}

@media (max-width: 500px) {
  .FooterDistributed {
    font: bold 14px sans-serif;
  }

  .FooterDistributed .FooterLeft,
  .FooterDistributed .FooterCenter,
  .FooterDistributed .FooterRight {
    display: block;
    width: 100%;
    margin-bottom: 10px;
    text-align: center;
    display: none;
  }
  .FooterDistributed .FooterCenter {
    display: none;
  }

  .FooterDistributed .FooterCenter i {
    margin-left: 0;
  }
}
