.NavigationItems {
  margin: 0;
  padding: 0;
  list-style: none;
  display: block;
  align-items: center;
  justify-content: center;
  height: 100%;
  margin-top: -60px;
}

.Button {
  color: white;
}
.Button:hover {
  color: #40a4c8;
}
.ButtonContainer {
  margin-left: -30px;
}

@media (min-width: 500px) {
  .NavigationItems {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    vertical-align: bottom;
    justify-content: flex-end;
    margin-top: 0px;
  }

  .ButtonContainer {
    margin-left: 0px;
  }
}

.User {
  font-size: 14px;
  text-transform: lowercase;
  margin-left: 3px;
}

.Caret {
  display: inline-block;
  width: 0;
  height: 0;
  margin-left: 2px;
  vertical-align: middle;
  border-top: 4px dashed;
  border-right: 4px solid transparent;
  border-left: 4px solid transparent;
}
